h1{text-align: center;}
nav{text-align: center;}
h4{text-align: right;}
p{text-align: center;}
.Drinks{text-align: right;}
.Recipes {
    list-style-position: inside; 
    text-align: center;         
  }
  .Drinks{
  list-style-position: inside; 
    text-align: right;          
  }
  body{
    background-color: aqua;
  }
  h1{color: black;
  }
  h2{color: red;
  font-style: italic;}
  h3{color: white;font-style: inherit;}
  h4{color: purple;font-style: italic;}
  p{color: black;font-style: initial;}
  